# App configuration
EXPO_PUBLIC_LIVE_PNL=false

# MT5 Trading API & WebSocket
EXPO_PUBLIC_MT5_BASE_URL=https://mtapi.broker-bros.com
EXPO_PUBLIC_MT5_WS_URL=wss://chart.broker-bros.com/ws
EXPO_PUBLIC_MT5_MANAGER_API_KEY=b--Bj9CQStcOBdPb43FXoIAtN4za2N0kqHHXENFmZLjmEa6gxE-2KXe8mzcRUnqW
EXPO_PUBLIC_MT5_MANAGER_ID=

# Broker CRM Backend
EXPO_PUBLIC_BROKER_API_BASE_URL=https://succeed-crm-b.onrender.com/api

# Economic Calendar News API
EXPO_PUBLIC_ECONOMIC_API_URL=https://fxregulation.com/api/v1/news/usd
EXPO_PUBLIC_ECONOMIC_API_KEY=fxr_live_4bc4fe504a466012ad1b82718920b5bab0cbea16a7818f0a
